/* Search Bar */
#zipcode{
    padding: 9px;
  }

.small-search{
    width: 30% !important;
}

.input-group-rounded .input-group-field {
    border-radius: 5000px 0 0 5000px;
    padding-left: 1rem;
  }
  
  .input-group-rounded .input-group-button .button {
    border-radius: 0 5000px 5000px 0;
    font-size: 0.8rem;
  }
  
.search-label{
    color:white;
}

#zip-submit{
    background-color: #52669f;
    }

/* Styling for Tabs/Candidates */
.candidatescont {
padding-top: 20px;
}

.incumbent{
    font-weight: bold;
}

.candidate-name{
    color:#52669f;
    font-weight: bold;
}

.bio-box{
    position: absolute;
    top: 210px;
    left: 341px;
    border: 1px solid black;
    height: 225px;
    width: 225px;
    border-radius: 5px;
    background-color: ghostwhite;
    padding:5px;
}

.bio-modal-exit{
    font-weight: bold;
    float: right;
    margin-right: 5%;
}

.bio-modal-body{
    clear: both;
    text-align: center;
}



/* Subpage Hero */
#subpagehero{
    height: 250px;
    background-size: cover;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
        -webkit-align-items: center;
        -ms-flex-align: center;
             align-items: center;
    background-color: maroon;
    color: white;
}

.subpage-hero-h1{
    text-align: center;
    font-weight: bold;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 3px;
}

