#userpolling{
    display:none;
    text-align: center;
}

#earlypolling{
    display:none;
}

#submit-address {
    background-color: #52669f;
}

h4 {
  text-align: center; 
}

.info-header{
    padding-top: 30px;
}

button:hover{
    background-color: #52669f;
    color: white;
    padding: 5px;
}